.formContainer {
  display: grid;
  place-items: center;
  height: 105vh;
    margin: 0 auto;
    background-color: rgba(17, 24, 39, 1);
    padding: 2rem;
    color: rgba(243, 244, 246, 1);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* sign */
.title {
    text-align: center;
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 700;
}

.form {
    margin-top: 1.5rem;
}

.inputGroup {
    margin-top: 0.25rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
}

.inputGroup label {
    display: block;
    color: rgba(156, 163, 175, 1);
    margin-bottom: 4px;
}

.inputGroup input {
    border-radius: 0.375rem;
    border: 1px solid rgba(55, 65, 81, 1);
    outline: 0;
    background-color: rgba(17, 24, 39, 1);
    padding: 0.75rem 1rem;
    color: rgba(243, 244, 246, 1);
}

.inputGroup input:focus {
    border-color: rgba(167, 139, 250);
}

.forgot {
    display: flex;
    justify-content: flex-end;
    font-size: 0.75rem;
    line-height: 1rem;
    color: rgba(156, 163, 175, 1);
    margin: 8px 0 14px 0;
}

.formBlock {
  border: 1px solid #ccc;
  padding: 40px 30px;
  border-radius: 10px;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.1);
}

.forgot a,
.signup a {
    color: rgba(243, 244, 246, 1);
    text-decoration: none;
    font-size: 14px;
}

.forgot a:hover,
.signup a:hover {
    text-decoration: underline rgba(167, 139, 250, 1);
}

.sign {
    display: block;
    width: 100%;
    background-color: rgba(167, 139, 250, 1);
    padding: 0.75rem;
    text-align: center;
    color: rgba(17, 24, 39, 1);
    border: none;
    border-radius: 0.375rem;
    font-weight: 600;
}

.socialMessage {
    display: flex;
    align-items: center;
    padding-top: 1rem;
}

.line {
    height: 1px;
    flex: 1 1 0%;
    background-color: rgba(55, 65, 81, 1);
  align-self: start;
  height: auto; 
}

.socialMessage .message {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    color: rgba(156, 163, 175, 1);
}

.socialIcons {
    display: flex;
    justify-content: center;
}

.socialIcons .icon {
    border-radius: 0.125rem;
    padding: 0.75rem;
    border: none;
    background-color: transparent;
    margin: 0 4px;
}

.socialIcons .icon svg {
    height: 1.25rem;
    width: 1.25rem;
    fill: #fff;
}

.signup {
    text-align: center;
    font-size: 0.75rem;
    line-height: 1rem;
    color: rgba(156, 163, 175, 1);
    margin-top: 1rem;
    color: rgb(237, 234, 230);
}

@media (min-width: 320px) and (max-width: 639px) {
    .formContainer {
        padding: 1.5rem;
        width: 100%;
    }
    .loginInput {
        width: 100%;
    }
    .title {
        font-size: 1.25rem;
        line-height: 1.75rem;
    }

    .inputGroup {
        font-size: 0.75rem;
        line-height: 1.125rem;
    }

    .formContainer {
  height: 120vh;
}
    .socialMessage .message {
        font-size: 0.75rem;
        line-height: 1.125rem;
    }

    .forgot,
    .signup {
        font-size: 0.75rem;
        line-height: 1.125rem;
    }

    .socialIcons .icon {
        padding: 0.5rem;
        margin: 0 2px;
    }

    .socialIcons .icon svg {
        height: 1rem;
        width: 1rem;
    }
}

@media (min-width: 640px) and (max-width: 767px) {
    .formContainer {
        padding: 2rem;
    }

    .title {
        font-size: 1.5rem;
        line-height: 2rem;
    }

    .inputGroup {
        font-size: 0.875rem;
        line-height: 1.25rem;
    }

    .socialMessage .message {
        font-size: 0.875rem;
        line-height: 1.25rem;
    }

    .forgot,
    .signup {
        font-size: 0.875rem;
        line-height: 1.25rem;
    }

    .socialIcons .icon {
        padding: 0.75rem;
        margin: 0 4px;
    }

    .socialIcons .icon svg {
        height: 1.25rem;
        width: 1.25rem;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .formContainer {
        max-width: 100%;
        padding: 2.5rem;
    }

    .title {
        font-size: 1.75rem;
        line-height: 2.25rem;
    }

    .inputGroup {
        font-size: 1rem;
        line-height: 1.5rem;
    }

    .socialMessage .message {
        font-size: 1rem;
        line-height: 1.5rem;
    }

    .forgot,
    .signup {
        font-size: 0.875rem;
        line-height: 1.25rem;
    }
}

@media (min-width: 1024px) and (max-width: 1440px) {
    .formContainer {
        max-width: 100%;
        padding: 3rem;
        height: 120vh;
    }

    .title {
        font-size: 2rem;
        line-height: 2.5rem;
    }

    .inputGroup {
        font-size: 1.125rem;
        line-height: 1.75rem;
    }

    .socialMessage .message {
        font-size: 1.2rem;
        line-height: 1.75rem;
    }

    .forgot,
    .signup {
        font-size: 1.2rem;
        line-height: 1.5rem;
    }

    .socialIcons .icon {
        padding: 1rem;
        margin: 0 6px;
    }

    .socialIcons .icon svg {
        height: 1.5rem;
        width: 1.5rem;
    }
}


@media (min-width: 1441px) and (max-width: 1800px) {
    .formContainer {
        max-width: 100%;
        padding: 3rem;
        height: 110vh;
    }

    .title {
        font-size: 2.5rem;
        line-height: 2.5rem;
    }

    .inputGroup {
        font-size: 1.4rem;
        line-height: 1.75rem;
    }

    .socialMessage .message {
        font-size: 1.4rem;
        line-height: 1.75rem;
    }

    .forgot,
    .signup {
        font-size: 1.2rem;
        line-height: 1.5rem;
    }

    .socialIcons .icon {
        padding: 1rem;
        margin: 0 6px;
    }

    .socialIcons .icon svg {
        height: 1.5rem;
        width: 1.5rem;
    }
}



/* loader */

.loader {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
    z-index: 1000;
}

.load2:before,
.load2:after {
  position: absolute;
  top: 0;
  content: '';
}

.load2:before {
  left: -19.992px;
}

.load2:after {
  left: 19.992px;
  -webkit-animation-delay: 0.32s !important;
  animation-delay: 0.32s !important;
}

.load2:before,
.load2:after,
.load2 {
  background: #076fe5;
  -webkit-animation: loading-keys-app-loading 0.8s infinite ease-in-out;
  animation: loading-keys-app-loading 0.8s infinite ease-in-out;
  width: 13.6px;
  height: 32px;
}

.load2 {
  text-indent: -9999em;
  margin: auto;
  position: absolute;
  right: calc(50% - 6.8px);
  top: calc(50% - 16px);
  -webkit-animation-delay: 0.16s !important;
  animation-delay: 0.16s !important;
}

@-webkit-keyframes loading-keys-app-loading {

  0%,
  80%,
  100% {
    opacity: .75;
    box-shadow: 0 0 #076fe5;
    height: 32px;
  }

  40% {
    opacity: 1;
    box-shadow: 0 -8px #076fe5;
    height: 40px;
  }
}

@keyframes loading-keys-app-loading {

  0%,
  80%,
  100% {
    opacity: .75;
    box-shadow: 0 0 #076fe5;
    height: 32px;
  }

  40% {
    opacity: 1;
    box-shadow: 0 -8px #076fe5;
    height: 40px;
  }
}