body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Ubuntu", sans-serif;
  }
  
  .background {
    background-image: url('/images/puzzle_bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    background-attachment: fixed;
    height: 120vh;
  }
  
  .formContainer {
    width: 90%;
    max-width: 400px;
    margin: 0 auto;
    border-radius: 0.75rem;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    padding: 2rem;
    color: rgba(243, 244, 246, 1);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
    border: 1px solid rgba(255, 255, 255, 0.2);
  }
  
  .title {
    text-align: center;
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 700;
    color: #2b061e;
  }
  
  .form {
    margin-top: 1.5rem;
  }
  
  .inputGroup {
    margin-top: 0.25rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
  
  .inputGroup label {
    display: block;
    color: rgba(156, 163, 175, 1);
    margin-bottom: 4px;
  }
  
  .inputGroup .input {
    width: 100%;
    border-radius: 0.375rem;
    border: 1px solid rgba(55, 65, 81, 1);
    outline: 0;
    padding: 0.75rem 1rem;
    color: black;
  }
  
  .inputGroup .input:focus {
    border-color: rgba(167, 139, 250);
  }
  
  .forgot {
    display: flex;
    justify-content: flex-end;
    font-size: 0.75rem;
    line-height: 1rem;
    color: rgba(156, 163, 175, 1);
    margin: 8px 0 14px 0;
  }
  
  .forgot a,
  .signup a {
    color: rgb(5, 9, 18);
    text-decoration: none;
    font-size: 16px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  
  .forgot a:hover,
  .signup a:hover {
    text-decoration: underline rgba(167, 139, 250, 1);
  }
  
  .sign {
    display: block;
    width: 100%;
    background-color: rgba(167, 139, 250, 1);
    padding: 0.75rem;
    text-align: center;
    color: rgba(17, 24, 39, 1);
    border: none;
    border-radius: 0.375rem;
    font-weight: 600;
  }
  
  .socialMessage {
    display: flex;
    align-items: center;
    padding-top: 1rem;
  }
  
  .line {
    height: 1px;
    flex: 1 1 0%;
    background-color: rgba(55, 65, 81, 1);
  }
  
  .socialMessage .message {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    color: rgba(156, 163, 175, 1);
  }
  
  .socialIcons {
    display: flex;
    justify-content: center;
  }
  
  .socialIcons .icon {
    border-radius: 0.125rem;
    padding: 0.75rem;
    border: none;
    background-color: transparent;
    margin: 0 4px;
  }
  
  .socialIcons .icon svg {
    height: 1.25rem;
    width: 1.25rem;
    color: #2b061e;
  }
  
  .icon:hover {
    background-color: white;
    border-radius: 60px;
  }
  
  .signup {
    text-align: center;
    font-size: 0.75rem;
    line-height: 1rem;
    color: rgba(156, 163, 175, 1);
    margin-top: 1rem;
  }
  
  .loginn {
    color: #2b061e;
  }
  
  .smallInput {
    width: 100%; 
    height: 30px;
    padding: 5px;
    font-size: 14px;
  }
  
  @media (min-width: 640px) {
    .formContainer {
      padding: 2.5rem;
    }
  }
  
  @media (min-width: 768px) {
      .background {
    height: 140vh;
  }
  
    .formContainer {
      max-width: 450px;
      padding: 3rem;
    }
  
    .title {
      font-size: 2rem;
      line-height: 2.5rem;
    }
  
    .inputGroup {
      font-size: 1rem;
      line-height: 1.5rem;
    }
  
    .socialMessage .message {
      font-size: 1rem;
      line-height: 1.5rem;
    }
  
    .forgot,
    .signup {
      font-size: 0.875rem;
      line-height: 1.25rem;
    }
  }
  
  @media (min-width: 1024px) {
    .formContainer {
      max-width: 500px;
      padding: 3.5rem;
    }
  
    .title {
      font-size: 2.25rem;
      line-height: 2.75rem;
    }
  
    .inputGroup {
      font-size: 1.125rem;
      line-height: 1.75rem;
    }
  
    .socialMessage .message {
      font-size: 1.125rem;
      line-height: 1.75rem;
    }
  
    .forgot,
    .signup {
      font-size: 1rem;
      line-height: 1.5rem;
    }
  }
  
  @media (min-width: 1440px) {
    .formContainer {
      max-width: 600px;
      padding: 4rem;

    }
  
    .title {
      font-size: 2.5rem;
      line-height: 3rem;
    }
  
    .inputGroup {
      font-size: 1.25rem;
      line-height: 1.75rem;
    }
  
    .socialMessage .message {
      font-size: 1.25rem;
      line-height: 1.75rem;
    }
  
    .forgot,
    .signup {
      font-size: 1.125rem;
      line-height: 1.5rem;
    }
  }
  
/* Loader */

.loader {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
    z-index: 1000;

}

.load2:before,
.load2:after {
  position: absolute;
  top: 0;
  content: '';
}

.load2:before {
  left: -19.992px;
}

.load2:after {
  left: 19.992px;
  -webkit-animation-delay: 0.32s !important;
  animation-delay: 0.32s !important;
}

.load2:before,
.load2:after,
.load2 {
  background: #076fe5;
  -webkit-animation: loading-keys-app-loading 0.8s infinite ease-in-out;
  animation: loading-keys-app-loading 0.8s infinite ease-in-out;
  width: 13.6px;
  height: 32px;
}

.load2 {
  text-indent: -9999em;
  margin: auto;
  position: absolute;
  right: calc(50% - 6.8px);
  top: calc(50% - 16px);
  -webkit-animation-delay: 0.16s !important;
  animation-delay: 0.16s !important;
}

@-webkit-keyframes loading-keys-app-loading {

  0%,
  80%,
  100% {
    opacity: .75;
    box-shadow: 0 0 #076fe5;
    height: 32px;
  }

  40% {
    opacity: 1;
    box-shadow: 0 -8px #076fe5;
    height: 40px;
  }
}

@keyframes loading-keys-app-loading {

  0%,
  80%,
  100% {
    opacity: .75;
    box-shadow: 0 0 #076fe5;
    height: 32px;
  }

  40% {
    opacity: 1;
    box-shadow: 0 -8px #076fe5;
    height: 40px;
  }
}



  
.inputContainer {
  position: relative;
  margin: 20px;
}

.inputField {
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-bottom: 2px solid #ccc;
  outline: none;
  background-color: transparent;
}

.inputLabel {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 16px;
  color: #007bff;
  opacity: 0;
  visibility: visible;
  pointer-events: none;
  transition: all 0.3s ease;
}


.inputHighlight {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 0;
  background-color: #007bff;
  transition: all 0.3s ease;
}

.inputField:focus + .inputLabel{
  top: -20px;
  font-size: 12px;
  color: #007bff;
  opacity: 1;
  visibility: visible;
}

.inputField:focus + .inputLabel + .inputHighlight {
  width: 100%;
}